// Импорт дополнительных стилей

// Импорт глобальных файлов
@import "global/fonts.styl";
@import "global/reset.styl";
@import "global/variables.styl";
@import "global/smart-grid.styl";
@import "global/global.styl";


// Импорт компонентов
@import "components/header.styl";
@import "components/hero.styl";
@import "components/config.styl";
@import "components/input-range.styl";
@import "components/input-checkbox.styl";
@import "components/result.styl";
@import "components/footer.styl";
