.hero
  row-flex()
  margin-top 50px
  +md-block()
    margin-top 35px
  +sm-block()
    margin-top 17px 

.hero__wrap
  col()
  size(2.8)
  +md-block()
    size(2.9)
  +sm-block()
    size(5)

  h1
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    margin-top: 43px;
    +md-block()
      font-size: 26px;
      line-height: 31px;
      margin-top: 40px;
    +sm-block()
      font-size: 18px;
      line-height: 22px;
      margin-top: 20px;

  p
    font-size: 18px;
    line-height: 21px;
    color: #8391B2;
    margin-top: 19px;
    +md-block()
      font-size: 16px;
      line-height: 19px;
      margin-top: 18px;
    +sm-block()
      font-size: 12px;
      line-height: 14px;
      margin-top: 15px;      

.hero__btn
  width 160px
  margin-top 27px
  background: #2F93FE
  +sm-block()
    width 111px

.hero__img
  col()
  size(2.2)
  +md-block()
    size(2.1)
    margin-top 15px
  +sm-block()
    width 210px
    margin-left auto
    margin-top: -25px;
